:root {
    --nord0: #2e3440;
    --nord1: #3b4252;
    --nord2: #434c5e;
    --nord3: #4c566a;
    --nord4: #d8dee9;
    --nord5: #e5e9f0;
    --nord6: #eceff4;
    --nord7: #8fbcbb;
    --nord8: #88c0d0;
    --nord9: #81a1c1;
    --nord10: #5e81ac;
    --nord11: #bf616a;
    --nord12: #d08770;
    --nord13: #ebcb8b;
    --nord14: #a3be8c;
    --nord15: #b48ead;
}
*{outline: 1px #bf616a;}
body{
    color: #3b4252;
    margin: auto;
}
header,section{
    width: 960px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
header{
    background-image:url(/img/fondoHeader.png);
    display: flex;
    color: #2e3440;
}
section{
    background-image:url(/img/fondoBlanco.jpg);
    background-attachment: fixed;
    display: flex;
    
}
article{
    width: 60%;
}